@import "~bootstrap/scss/bootstrap";

header {
    position: relative;

    .head-container {
        max-width: 1200px;
        margin: auto;
        display: flex;

        nav {
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                justify-content: flex-end;
                font-size: 0.8rem;

                li {
                    padding-inline: 1rem;

                    a {
                        font-size: 1rem;
                    }
                    a:hover {
                        color: rgb(12, 119, 234);
                    }
                }
            }
        }

        .nav-container {
            width: 100%;
            display: flex;
            align-items: center;
            height: 6rem;
            background-color: white;

            img {
                width: 15%;
            }
        }
    }

    .jumbo {
        background-image: url("../../public/images/jumbotron.jpg");
        background-size: cover;
        height: 25rem;
    }

    button {
        position: absolute;
        bottom: -1.2rem;
        left: 5rem;
        background-color: rgb(12, 119, 234);
        padding: 1rem;
        width: 12rem;
        font-weight: 1000;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

main {
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    .contents {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;

        .cards {
            width: calc((100% / 6) - 2rem);
            height: 193.45px;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1rem;

            img {
                width: 100%;
                height: 100%;
            }

            .text-container {
                h3 {
                    color: white;
                    font-size: 0.7rem;
                    white-space: wrap;
                    padding-top: 0.5rem;
                }

                span {
                    color: white;
                    font-size: 0.6rem;
                }
            }
        }
    }
    button {
        background-color: rgb(12, 119, 234);
        color: white;
        padding: 0.7rem;
        width: 10rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

footer {
    .footer-up {
        background-color: rgb(2, 130, 249);

        .options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 8rem;
            max-width: 1200px;
            margin: auto;

            .option {
                display: flex;
                align-items: center;
                padding-inline: 1.5rem;
            }

            img {
                width: 2.2rem;
            }

            p {
                color: white;
                padding-inline: 0.7rem;
                white-space: nowrap;
                font-size: 0.7rem;
            }
        }
    }

    .footer-mid {
        background-image: url("../../public/images/footer-bg.jpg");
        overflow: hidden;

        .contacts {
            height: 16rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: auto;
        }

        .links {
            display: flex;
            gap: 1.5rem;

            .column {
                display: flex;
                flex-direction: column;
            }

            .title {
                font-weight: 700;
                color: white;
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;
            }

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: gray;
                    font-size: 0.7rem;
                }
            }
        }
    }

    .footer-bot {
        background-color: rgb(48, 48, 48);

        .socials {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1200px;
            margin: auto;
            height: 5rem;

            button {
                background-color: transparent;
                color: white;
                border: 2px solid rgb(12, 119, 234);
                padding: 0.7rem;
            }

            .social {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            h3 {
                color: rgb(12, 119, 234);
            }
        }
    }
}
